.homePCContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.homePCContainer > canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #091C2A;
    z-index: -1;
}

.homePCTop{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.homePCTop > h1{
    font-family: "Charmonman", cursive;
    color: white;
    margin: 0px;
}

.homePCTop > ul{
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 80px;
}

.homePCTop > ul > li{
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    
    transition: all 0.1s ease-in;
}

.homePCTop > ul > li:hover{
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.homePCTop > .icons{
    display: flex;
    align-items: center;
    gap: 80px;
}

.icon{
    transition: all 0.1s ease-in;
}

.icon:hover{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.homePCTop > .icons > a > .github{
    width: 35px;
}

.homePCTop > .icons > a > .facebook{
    width: 20px;
    padding: auto;
}

.homePCBody{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePCBody > div{
    width: auto;
    display: flex;
    align-items: center;
    gap: 500px;
}

.homePCBody > div > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.homePCBody > div > .introduction{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePCBody > div > .introduction::after{
    position: absolute;
    content: '';
    top: calc( 50% + 30px);
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    aspect-ratio: 1.5;
    background-color: #02adf627;
    z-index: -1;
    border-radius: 100%;
    padding: 40px;
    filter: blur(60px);
    transform: rotateX(60deg);
}

.homePCBody > div > .introduction > h1{
    color: white;
    font-size: 40px;
    margin: 0px 0px 10px 0px;
}

.homePCBody > div > .introduction > span{
    color: #02ABF6;
    font-size: 26px;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}

.homePCBody > div > .introduction > div{
    display: flex;
    gap: 16px;
}

.homePCBody > div > .introduction > div > button{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #02ABF6;
    color: white;
}

.homePCBody > div > .introduction > div > button:hover{
    background-color: #02ABF6;
}


.blue{
    background-color: #028dc9;
}

.transparent{
    background-color: transparent;
}