@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;  
    background-color: #091C2A;
    
}

.homeContainer{
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.top{
    transition: all 0.3s ease;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 30px;
    margin-right: 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
.open{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    }

.top > h2{
    margin: 0px;
    color: white;
    font-family: "Charmonman", cursive;
}

.top > .hamBurger > hr{
    width: 24px;
}


.homeBody{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 76px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;

}

.homeBody > img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.homeBody > .introduction > h1{
    margin: 0px;
    color: white;
}

.homeBody > .introduction > span{
    color: #02ABF6;
    font-size: 22px;
    font-weight: 700;
}