.AboutMobileContainer{
    height: 100svh;
    background-color: #112E43;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15svh;
}

.AboutMobileContainer > h1{
    color: white;
}

.AboutMobileContainer > h1 > span{
    color: #5BA9FF;
}

.AboutMobileContainer > div{
    display: flex;
    align-items: center;
    position: relative;
    align-self: flex-start;
    margin-left: 30px;
}
    
.AboutMobileContainer > div::before{
    animation: morph 10s ease infinite;
    content: '';
    background-color: #0b1e2c;
    width: 58vw;
    aspect-ratio: 1;
    position: absolute;
    top: -10px;
    left: -20px;
}

.AboutMobileContainer > div > img{
    width: 180px;
    position: absolute;
    top: -100px;
    right: -100px;
}

.AboutMobileContainer > div > .texts{
    text-align: left;
    max-width: 58vw;
    position: relative;
}


.AboutMobileContainer > div > .texts > h2{
    color: #5BA9FF;
}

.AboutMobileContainer > div > .texts > h4{
    color: white;
}

.AboutMobileContainer > div > .texts > p{
    color: rgba(255, 255, 255, 0.75);
}

@keyframes morph {
    from{
        border-radius: 59% 13% 25% 60% / 74% 33% 47% 35%;
    }    
    25%{
        border-radius: 29% 60% 62% 26% / 74% 18% 69% 25%;
    }
    50%{
        border-radius: 39% 61%75% 25% / 63% 49% 42% 25%;
    }
    75%{
        border-radius: 40% 60% 28% 72% / 37% 43% 57% 63%;
    }
    to{
        border-radius: 59% 13% 25% 60% / 74% 33% 47% 35%;
    }
}